
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.sln
*.Designer.cs
*.resx
*.pubxml
*.config
*.nubkg
*.nupkg
*.dll
*.xml
*.sigdata
*.optdata
*.pdb
*.deps
*.pri
*.user
*.resx
*.pubxml
*.json
*.cache
*.props
*.targets
*.nuspec
*.txt
*.resources
*.lock
*.ide
*.ide-shm
*.ide-wal
*.suo
*.sqlite
*.AssemblyInfo.cs
obj
bin
packages
.vs
.idea
